node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
*.log
*.save
uploads/*
downloads/*
tmp/*
*.bin
.decrypted*
encrypted*.bin
data/blob_key_registry.json
circuits/*.r1cs
circuits/*.sym
circuits/*.zkey
circuits/*_js/
circuits/ptau/
circuits/tmp_*
proofs/
*.wtns
.DS_Store
build/
*.tar.gz
*.ptau
sui.tar.gz
